# Byte-compiled
**/__pycache__
**.py[cod]
**$py.class

# Distribution / packaging
build/
dist/

# Reports / testing
htmlcov/
.ruff_cache/
.pytest_cache/
.coverage

# Environments
.venv/
.env*

# Project-specific
*.sqlite
*.db
**.wav
resources/
legacy/
